[2013-05-16 22:46] dirk-thomas opened #1 "libactionlib.so compiled into wrong location"
The library is placed in the build folder instead of devel/lib which break downstream packages depending on actionlib.
After installation of actionlib it is fine.

[2013-05-16 22:48] #1 closed, assigned to dirk-thomas

[2013-05-23 09:57] dpinol opened #2 "generated headers have unused parameters"
when compiling in gcc with -Wall -Wextra a file generated  I get tons of warnings because of unused parameters in the files generated at the msg_gen/cpp/include/ folder

thanks

[code]

[2013-06-13 17:20] dirk-thomas commented on #2
Moved to ros/gencpp#4

[2013-06-13 17:20] #2 closed, assigned to nobody

[2013-07-12 21:18] tfoote opened #4 "simple_action_server.py can deadlock"
From: http://answers.ros.org/question/50276/python-simpleactionserver-stops-unexpectedly-deadlock/

I wasn't able to get the python debugger to produce the stack traces that explained the problem. But after looking at the roslog debug messages and the source code, I came up with the following reconstruction of the events:

Thread A (rospy's message dispatcher?)

Deadlocked in: self.execute_conditi

[2013-07-15 23:34] dirk-thomas commented on #4
@miguelsdc Can you please provide a complete and reproducible example? The code from the referenced answers.ros.org post seems to be incomplete.

[2013-07-16 18:10] miguelsdc commented on #4
@dirk-thomas  see https://github.com/miguelsdc/deadlockTest repository. It has a complete ROS project (rosbuild, haven't yet got the hang of catkin) which will make actionlib deadlock.

I know the code seems too demanding on actionlib and not representative of a real workload (eg. high frequency of requests, remote task is not really useful). As it turns out, getting one thread to accept an alread

[2013-07-17 16:30] miguelsdc commented on #4
As it turns out,  deadlockTest unconvered other race conditions. #5 has been updated to fix these race conditions.

As an informal test, roslaunching deadlockTestBrutal results in a deadlock in less than 5 seconds on my machine. After applying the patch, my machine was happily running for 15min...

Hope that helps,
Miguel S.

[2013-07-30 00:58] dirk-thomas commented on #4
I ran you example an reviewed the changes and can confirm that it fixes the deadlock.

But I am a bit worried about the removed lock in the `executeLoop()`. I do see why it was necessary to avoid locking in the wrong order but I think that enables new race conditions (but I could not modify your example yet to expose the cases I suspect exist).

[code]

I am actually not sure to agree to this stat

[2013-07-30 11:35] miguelsdc commented on #4
Okay I've been re-reading the source code of simple_action_server.py and I still think there's no need to lock that area in `executeLoop()`. Let me explain why.

There are two functions that can potentially cause race conditions: `self.is_active()` and `self.is_new_goal_available()`.

Regarding the first one: in polling implementations there's no problem because `executeLoop()` is never called. In

[2013-07-31 21:26] dirk-thomas commented on #4
I wrapped my head around it one more time. I still think that there are potential race conditions related to `is_active` and `is_new_goal_available` being called outside a lock. But the worst that should happen in this case should be a warning/error message on the console.

Therefore I think option 2 or 3 would be over-locking.

I have created an updated pull request which mainly adds comments and

[2013-07-31 21:37] dirk-thomas commented on #4
It would be very valuable to have your deadlock test as an actual unit test in actionlib. Could you convert it into a unittest using GTest to ensure that this will not break again in the future?

[2013-08-01 14:18] miguelsdc commented on #4
The updated pull request looks great! Indeed, the comments are more useful and the code in `executeLoop()` is clearer.

I think it may be a good idea to cherry pick the patch in the fuerte, groovy and hydro branches. (All distros currently share the same simple_action_server.py file after all). Even more so since fuerte's EOL is fast approaching. What do you think?

I'll convert deadlock test into

[2013-08-01 16:51] dirk-thomas commented on #4
Great, thank you.

[2013-08-04 13:46] cdellin opened #7 "Actionlib reconnect problem (c++ , with test case)"
(See this ROS Answers post [1]).

I'm unable to get my action clients to reconnect to their servers for more than a single request when the connection is temporarily lost (e.g. when the server node is restarted).  I've tried both regular action servers/clients and the simple versions.

I've written a small test case [2] to illustrate the problem.  The client checks isServerConnected every second,

[2013-08-04 13:56] miguelsdc commented on #4
Just added a new pull request with the proposed test (see description in #8).

[2013-08-05 23:00] dirk-thomas commented on #4
Resolved with #6 and covered by test in #9.

[2013-08-05 23:00] #4 closed, assigned to dirk-thomas

[2013-08-14 18:09] dirk-thomas commented on #7
I can reproduce the issue. In my case sometimes it works, sometimes it doesn't.

It seems to be timing related. If the deregister of the callback is invoked before registering the new one it works. If it is the other way around the register is basically a no-op and the following deregister will disconnect the server.

[2013-08-14 19:02] dirk-thomas commented on #7
Can you please try the patched version from pull request #13 and verify that it fixes your issue?

[2013-08-21 19:19] #7 closed, assigned to nobody

[2013-09-18 14:32] cdellin commented on #7
I was finally able to verify that this diff fixed my issue.  Thanks.

[2013-10-18 08:18] liborw opened #16 "wait_for_server: is it necessary to require node to be initialised?"
When I try to call `wait_for_server` from script not node or from python interpreter the following error is raised:

[code]

The problem is that the wait_for_service uses `rospy.get_rostime()`. Is it necessary, The `wait_for_service` uses `time` and it works perfectly fine?

[2013-11-26 20:07] dirk-thomas commented on #16
In order to utilize the communication infrastructure (which `wait_for_server` needs) the ROS node must have been initialized. Please consider asking question on http://answers.ros.org in the future.

[2013-11-26 20:07] #16 closed, assigned to nobody

[2014-02-06 00:06] tfoote opened #18 "parameterize goal and cancel publisher queue size."
Refiled from @rchevali ros/gencpp#15

In action_client.h (on lines 217 and 221) both goal_pub_ and cancel_pub_ are advertised with queue sizes of 1. This occasionally causes goals to be dropped. Could these queue sizes be configurable or at least increased?

[2014-02-11 13:13] RainCT opened #19 "wait_for_service(): Race at startup; use wall time"
Hi,

wait_for_service() uses the following check for its timeout feature:

This fails miserably when time is zero (because simulation is being used and it hasn't been initialized yet). It'd probably make more sense to use wall time here.

[2014-02-21 19:30] esteve commented on #19
Could you test this branch and let me know if it solves this issue? Thanks

https://github.com/esteve/actionlib/tree/wall-time

[2014-02-24 12:28] RainCT commented on #19
Hm, I can't reproduce the problem right now, but the patch looks fine.

I guess there is probably also the same problem with the C++ waitForActionServerToStart (which uses Time::now() vs. WallTime::now()).

[2014-02-24 15:29] esteve commented on #19
Thanks for testing my patch. However, I'd rather not merge that branch right now and instead, wait to see if this bug affects other people.

[2014-05-02 16:51] #19 closed, assigned to nobody

[2014-05-09 08:24] mikeferguson opened #25 "actionlib 1.11.1 has threading issues not present in earlier versions"
Occurs with both 1.11.0 and 1.11.0 -- I presume this is part of the removal of __connection_header, but I haven't fully tracked it down. Opening a ticket in the hopes that someone might just have the answer, otherwise I'll keep digging:

Usage:
- Create a SimpleActionClient with spin_thread=True.
- Call waitForServer with no timeout

Expected Result:
- Connection will be made, and program will con

[2014-05-09 19:45] tfoote commented on #25
I had to do a similar change here to get my tests to pass. https://github.com/ros/geometry_experimental/commit/bdbd2d03a30e9923c2cffad095de4c74ddf67962

[2014-05-15 18:37] esteve commented on #25
Just a quick status update.

I found out that SimpleActionClient works if its internal callback queue is replaced with the global callback queue (ros::getGlobalCallbackQueue, which is the one AsyncSpinner uses, so you're right @mikeferguson ), this leads me to think that somewhere events are posted to the global callback queue even if another callback queue gets passed to the queue thread (SimpleA

[2014-05-15 19:32] esteve commented on #25
@tfoote With the fix in #26, the AsyncSpinner workaround shouldn't be necessary in geometry_experimental, I'll submit a pull request to revert it

[2014-05-15 19:35] tfoote commented on #25
Great thanks @esteve

[2014-05-15 19:36] #25 closed, assigned to esteve

[2014-05-15 23:03] mikeferguson commented on #25
@esteve Thanks for fixing this!

[2014-05-21 13:14] esteve commented on #18
I increased the sizes for both queues to 10, to match the Python side in ros/actionlib@d4e2d2e44491d5ba51f57a701901c0fd0392b8c5 It should fix any issues you may have experienced, would you mind @rchevali having a look at it? Thanks.

[2014-05-26 16:06] esteve commented on #18
I'm closing this ticket, increasing both queue sizes to 10 doesn't seem to break anything.

[2014-05-26 16:06] #18 closed, assigned to nobody

[2014-06-03 02:10] jbohren opened #30 "axcli: Alternative action client"
Just came across this https://github.com/po1/axcli

Might be work integrating with the actionlib distribution if it works better than the current one.

[2014-10-20 22:28] de-vri-es opened #32 "wait for server asynchronously"
Right now there are two ways to wait for a connection to be established between an actionlib client and an actionlib server:
1. `client.waitForServer()` / `client.waitForActionServerToStart()`
2. Periodically poll  `client.isServerConnected()` until it returns true

Option 1 is easiest but needs a separate thread to process the event queue. Option 2 can work for single threaded applications but is

[2015-01-14 18:48] stwirth opened #34 "Better introspection for goals"
I am just coming across the need to be able to introspect the current state of a (simple) actionlib server. The `status` topic is published periodically and gives some information. Additionally I can see `feedback`, if provided by the server. What I am unable to introspect is what the goal message contained. I can see which goal id is served but not what the goal contained. If the actionlib client

[2015-03-24 07:05] stephane-caron opened #35 "waitForServer hangs when server name is incorrect"
Hello,

When a SimpleActionClient is constructed with the wrong action name, wait_for_server() hangs forever and there is no error message:

[code]

I think there should be a check with an error message raised when the name is not found, as:
- I am not the only one facing this problem, see e.g. [this question on ROS answers](http://answers.ros.org/question/60307/simple-action-client-freezes-at-wai

[2015-03-24 17:07] tfoote commented on #35
This isn't hanging. You have asked for the SimpleActionClient to wait until the expected resource becomes available with no timeout.

If you would like it not to wait forever I suggest you pass it a timeout and process the return code. [Code API](http://docs.ros.org/indigo/api/actionlib/html/classactionlib_1_1SimpleActionClient.html#a0b00afd6df9d8c7bb1d02361ef8cf973) which will tell you that the s

[2015-04-13 11:41] pallgeuer opened #36 "SimpleActionServer destructor uses uninitialised variable"
While running valgrind on my node that involves a SimpleActionServer I got the following:

[code]

Even though I wasn't experiencing any problems per se I had a look into this. Indeed, `execute_thread_` is not necessarily initialised in the class constructors (if no execute callback is passed) yet the destructor goes ahead and uses it:

[code]

Changing that to `if(execute_callback_ && execute_thr

[2015-04-13 16:18] esteve commented on #36
@pallgeuer Thanks for reporting this bug. I created a pull request that initialized `execute_thread_` to `NULL`. Could you test that #37 works and that `valgrind` no longer reports `execute_thread_` as not being initialized?

Thanks.

[2015-04-13 18:35] baxelrod-bdai opened #38 "Simple Action Server should expose setRejected"
The server state transitions diagram (http://wiki.ros.org/actionlib/DetailedDescription) shows that when a goal comes in, it can either be accepted or rejected by the server.  When using the SimpleActionServer, your only choice is to accept the goal, even if it is invalid and you want to reject it.

[2015-04-13 19:02] tfoote commented on #38
The goal of the SimpleActionServer is to provide a simple solution which covers the simple use cases only, allowing an action server to be implemented [in a few lines of code](http://wiki.ros.org/actionlib#C.2B-.2B-_SimpleActionServer). It does not try to provide full coverage of the Action state space. If you want more complicated behaviours it's recommended to create your own action server imple

[2015-04-13 20:05] baxelrod-bdai commented on #38
Understood.  However, SimpleActionServer already has the flexibility to allow users to do complicated things if they want by subscribing to the goal and preempt callbacks: http://wiki.ros.org/actionlib_tutorials/Tutorials/SimpleActionServer%28GoalCallbackMethod%29.

I can certainly envision some advanced behaviors that one might want when a goal must be rejected, but I think the SimpleActionServer

[2015-04-14 11:39] pallgeuer commented on #36
@esteve Yes, that resolves the issue, thanks.

[2015-04-14 17:53] #36 closed, assigned to esteve

[2015-04-14 17:54] esteve commented on #36
@pallgeuer thanks for testing the PR, I just merged it.

[2015-11-06 16:38] jvgomez opened #40 "SimpleActionClient is tracking goal"
I have reached a point in my application in which I would like to have a SimpleActionClient member which allows me to know if the server is currently pursuing a goal. Something like `action_server.isTrackingGoal()`.

I guess is possible (I haven't checked in detail the SimpleActionClient implementation). Is there any reason not to do this? I think I could try out an implementation in case it is po

[2015-12-08 17:48] esteve commented on #35
I agree with @tfoote , this is not a bug in `waitForServer`, since it can't know whether you're asking for a resource that's invalid or that may become available in the future. Adding a timeout should prevent such behavior.

[2015-12-08 17:48] #35 closed, assigned to nobody

[2015-12-09 18:38] esteve commented on #40
`SimpleActionClient::getState()`'s documentation says this:

[code]

Could you try this? I think this will work, let me know if it's not what you intended.

[code]

Thanks!

[2015-12-18 19:49] astumpf opened #41 "ActionServer crash on deconstrucion"
I've been able to reproduce an issue, when using the action server. When I terminate the program, the executable terminates each time with:

[code]

This is the callstack:

[code]

This will not happen, when I initialize the ActionServer, but **not** start it.

The entire code can be found here: https://github.com/team-vigir/vigir_pluginlib/blob/master/vigir_pluginlib/src/plugin_manager.cpp

I'm u

[2016-02-01 10:37] 130s opened #44 "Feature to get a list of running action servers"
[Asked here](http://answers.ros.org/question/222748/list-action-servers/). While the proposed way that uses `rostopic list` (thus is a bit of a hack) seems to work perfectly, I like to have a feature to do that. I wouldn't mind opening a PR but just wonder:
- What form is the best? A command like `rosaction` with a `list` verb may sound too much, since there may not be many other things to do with

[2016-03-11 16:17] jvgomez commented on #40
I have finally checked that method but there is a problem: if the server is not tracking any goal it returns LOST (as you mention) but also shows an error:

`ROS_ERROR("Trying to getState() when no goal is running. You are incorrectly using SimpleActionClient");`

Which is annoying, because in my opinion this does not mean that we are incorrectly using it. The only solution I can see is to store a

[2016-05-10 21:55] mikaelarguedas opened #45 "SimpleClient.easy_tests fails on Xenial"
Since #43 has been merged, `SimpleClient.easy_tests` failing on the farm dev jobs http://build.ros.org/job/Kdev__actionlib__ubuntu_xenial_amd64/, while passing locally on Xenial and on the PR builder.

[2016-05-16 15:54] Jmeyer1292 opened #46 "ActionServer & ActionClient Dropped Goals"
Related to #18. I'm using the underlying `ActionClient` and `ActionServer` classes to implement a multi-threaded motion planning server and I am running into issues with unacknowledged goals and handles waiting for results.

Changing the size of all publish/subscribe queues in both classes seems to alleviate the issue. Is there a standard SOP or advice for using the action interface with hundreds

[2016-05-18 11:38] corot opened #48 "Python action servers cannot be stopped, so..."
...they keep publishing action status until destroyed:
http://docs.ros.org/diamondback/api/actionlib/html/action__server_8py_source.html#L00326

This is not a big drama, but some of my rostests require fake action servers that keep publishing on status topic once the client is shutdown, throwing this exception:

[code]

An ugly hack is to set action_server.started = False, but I don't think this i

[2016-05-20 18:26] safrimus commented on #46
@Jmeyer1292, I'm running into issues with unacknowledged result messages that leave the action client in a WAITING_FOR_RESULT state. Is this similar to the issues you have observed? If it is, what queue sizes for the client/server seemed to fixed it for you?

[2016-05-20 19:38] Jmeyer1292 commented on #46
@safrimus Frankly, I set the queue sizes to zero so that they buffer indefinitely. It's kind of a heavy weight solution and may not be appropriate for many users but it has helped me.

I added a PR #47 that lets you set these sizes through parameters should you be interested in testing.

A better solution would have us look into the action protocol itself to ensure that the server gets an acknowle

[2016-05-20 21:25] safrimus commented on #46
+1 for acknowledgement of Result messages. Especially since it's a required message without which the client is essentially stuck waiting for a message that may have simply been "missed".

[2016-05-21 06:36] sytelus opened #49 "actionlib fails compilation with stricter GCC options"
It looks like some of the actionlib uses unnecessary ";" which GCC correctly points out with stricter options. For example,

[code]

To reproduce these errors turn on checks in GCC using following line in CMakeLists.txt:

`set(CMAKE_CXX_FLAGS "-std=c++11 -Wall -Wextra  -Wstrict-aliasing -pedantic -fmax-errors=5 -Werror -Wunreachable-code ${CMAKE_CXX_FLAGS}")`

[2016-05-23 16:35] mikaelarguedas commented on #46
Making queue sizes configurable through parameters #47 seems like a good idea. In the past queue sizes were infinite (at least in the Python implementation). This change would need thorough testing before being integrated.
I agree that implementing a clean acknowledgement of Result messages could prevent this "action client hanging forever" issue, and would be another step forward.

[2016-05-24 00:08] mikaelarguedas commented on #49
Indeed a lot of semicolons in the codebase are not necessary. Feel free to submit a pull request to address these in actionlib or any other package you want to compile with the `-pedantic` flag.
Thanks for pointing it out.

[2016-06-15 15:10] corot opened #51 "Remove annoying debug messages"
I would really love to remove this annoying lines...
- https://github.com/ros/actionlib/blob/indigo-devel/src/actionlib/action_server.py#L293
- https://github.com/ros/actionlib/blob/indigo-devel/src/actionlib/simple_action_server.py#L269

do they any good?

[2016-07-18 17:12] sjfwilson opened #52 "ActionClient send_goal and cancel retries"
I am investigating the work require to implement support for retrying send_goal and cancel requests within ActionClient. This effort is driven by the fact that the ActionServers are on separate machines using a WiFi network. The separate machines may be turned off, or the network may be interrupted and be down for a while. In both cases, when a goal or cancel request is sent from the Client to a p

[2016-07-22 15:05] CodeFinder2 commented on #46
I can confirm all problems mentioned here, in particular those related to result msgs getting lost, see my post here: answers.ros.org/question/240056/bug-in-ros-extending-simpleactionserver-client-to-allow-rejecting-goals . Configurable queue sizes with a default value of 10 (or better 100) would be great.

One question: when I use the default Ubuntu 16.04 ROS packages, how do I get this update? I

[2016-07-22 23:53] CodeFinder2 commented on #46
Update: If I increase the queue sizes to 10, 100, or 1000 (or even 0 -> infinite), and I setup a large number (~35) of requesting clients (on a 1 core VM), messages still get lost (causing my clients to timeout)?! Very strange, need to investigate this further.

Update 2 (edit): Messages still can get lost regardless of the queue size. Any ideas, why this happens?
@Jmeyer1292 Setting the queue siz

[2016-08-09 14:39] sjfwilson commented on #52
We have been working on the ActionClient robustness/resend design. During the most recent review of the design, and while discussing strategy for resending goals on a timer, the following question was asked:

"Does anyone use ActionClient/ActionServer with the expectation that goals are processed on the Server in the order that they are sent by the Client?"

We know that using TCP for topic transp

[2016-08-15 01:25] mattforestyoung opened #56 "Fix the silent fail when the robot stops short of a move goal"
I've been using actionlib to issue MoveBaseGoals to my robot for a while now. I've noticed that there are several instances where the robot gets close to the goal and stops, but doesn't properly transition to goal state 1 (SUCCEEDED).

When this happens, there is effectively a silent fail because the robot refuses to move any further and actionlib doesn't report if it reached the goal or not. To r

[2016-08-15 05:42] tfoote commented on #56
This does not seem to be a problem with actionlib, but with the base_local_planner that it's still trying to reach the goal but is stuck. As you've suggested a change to the base_local_planner please file a ticket on the repo in which that file is hosted: https://github.com/ros-planning/navigation

As feedback on the suggested change, I would suggest formalizing the failure and detecting that the

[2016-08-15 23:37] mattforestyoung commented on #56
Thanks for the feedback @tfoote!

The thing is, when I review the bag files, the robot usually reaches the end of it's local path, and according to my own calculations it gets within the goal position and yaw tolerance, yet still doesn't correctly identify that the goal has been reached. I'll keep looking into the issue to determine if this is the real cause.

In the meantime, thanks for pointing

[2016-08-15 23:37] #56 closed, assigned to nobody

[2016-08-25 20:33] mikaelarguedas commented on #51
commited/fixed in #54

[2016-08-25 20:33] #51 closed, assigned to nobody

[2016-08-25 20:59] mikaelarguedas commented on #49
marking this with milestone `untargeted` given that we don't target these flags on ROS1 packages. We will still happily merge code cleaning pull requests

[2016-11-16 17:41] 1r0b1n0 opened #58 "Datarace in SimpleActionClient if /use_sim_time is used"
Hello,

I stumbled on a datarace bug in the ActionClient class when using actionlib in a Gazebo simulation (thus having /use_sim_time=true, and an external node that publishes the /clock topic).

To be able to reproduce the bug I created two simple roslaunch files here : https://github.com/1r0b1n0/actionlib_sim_time_datarace_test
On my system, more or less 1 out of 5 times starting the fibonacci_c

[2016-11-30 16:53] progtologist commented on #38
Resurrecting an old issue:
@benaxelrod actually the SimpleActionServer has very limited flexibility. If you examine closely the
`template <class ActionSpec>
  void SimpleActionServer<ActionSpec>::goalCallback(GoalHandle goal)`
function you will see that the user can only do very few things with his custom goal callback. E.g. he cannot reject it and keep executing the previous goal as it's preempti

[2016-12-09 08:13] luator commented on #44
I would also like to have a tool like this, to easily check if an action server is set up correctly.

[2016-12-21 09:04] luator commented on #40
I agree with jvgomez. Is there any reason to not simply remove the error message? I think this would be the easiest solution to the problem.

[2017-01-03 13:31] VictorLamoine opened #61 "Simple action client/server warnings with Wextra"
If you compile a ROS node including the simple action client/server include with `gcc` `-Wextra` flags you will get a lot of compiler warnings.

How to reproduce
---
[code]

[code]

Not beautiful :sob:

[2017-01-03 13:45] mikaelarguedas commented on #61
duplicate of https://github.com/ros/actionlib/issues/49
marking this with milestone `untargeted` given that we don't target these flags on ROS1 packages.
Feel free to submit a PR to fix these compiler warnings, we will happily review and merge it

[2017-01-10 07:58] mikaelarguedas commented on #58
@1r0b1n0 Did #59 fix this issue ?
It looks like I can still reproduce it locally around 1/15 times

[2017-01-11 09:29] 1r0b1n0 commented on #58
Indeed in some cases I still had some issues (but like 1 out of 200 times).
Because the application is multi-threaded, we should also wait for ros:Time::now to become valid when constructing `ConnectionManager`
I submitted #62 that fixes those issues for me, does it work on your side ?

[2017-02-09 15:01] pbeeson opened #66 "Race bug in Actionlib Client where Result from Server can be missed"
There is a bug in the Actionlib client Goal Manager, where the result from the server can be missed, causing the client application's call to waitForResult() to fail.

A simple patch, which just moves an if-block a few lines away, has been provided in PR #64

I've opened this issue as a way to discuss this or future similar issues, and to provide a way to deterministically reproduce the bug using

[2017-02-14 17:46] mikaelarguedas commented on #66
Fixed by #64

[2017-02-14 17:46] #66 closed, assigned to nobody

[2017-02-20 15:00] pbeeson opened #67 "Actionlib Handle assertion killed program"
I have a pretty intensive robotic application that we are running through reliability tests before software goes into production in June.  After about a week of running fine, one our actionlib clients died due to a low-level assertion in the Handle class.

[code]

[2017-02-20 15:05] pbeeson commented on #67
Could it be that on line 182 of managed_list.h, that the `valid_(true)` (the only place valid_ is ever set to true) should come before the initialization of `it_` and `handle_tracker_`?

[2017-02-20 17:38] pbeeson commented on #67
So it looks like the Handle reset() function is being continuously called as the ClientGoalHandle instance is created/destroyed constantly.  Because this exact object that is being examined is a ptr to the CommStateMachine, I"m wondering if this isn't another race condition in the GoalManager class like Issue #66

[2017-02-21 15:22] pbeeson commented on #67
My current "fix" for this is to go through the client code and replace all asserts with ROS_ERROR messages, and return default values where appropriate.

[Temp fix](https://github.com/pbeeson/actionlib/commit/d761eadb7bb2fbbe3bd23e41195cb106135dcff8)

[2017-02-28 22:39] pbeeson commented on #67
Anyone have thoughts on this?

[2017-03-03 01:22] pbeeson commented on #67
After 5 days of running, I haven't encountered the error message I replaced the assertions with, but I am seeing this:
`Got a callback on a goalHandle that we're not tracking.  This is an internal SimpleActionClient/ActionClient bug.  This could also be a GoalID collision`

My feeling is that this symptom is from the same underlying problem, in that goals can be deleted or partially deleted in the

[2017-03-04 03:32] ruffsl commented on #41
Can confirm, I receive the same error as well after closing `axclient.py`.
[code]

[2017-03-06 23:43] piyushk opened #69 "Regression introduced with 1.11.8"
@dirk-thomas, @mikaelarguedas

The following snippet was released in action_client.py as part of the latest Kinetic sync, and results in a regression in python based actionlib servers. `sub_queue_size` defaults to None, which is immediately compared with an integer.

https://github.com/ros/actionlib/blame/indigo-devel/src/actionlib/action_client.py#L531
[code]

Results in:
[code]

[2017-03-07 15:20] piyushk commented on #69
I just noticed the server suffers from the same issue. The PR has been updated.

[2017-03-07 21:47] keerthanamanivannan commented on #44
+1

[2017-03-08 21:29] mikaelarguedas commented on #69
Thanks @piyushk for reporting it. This arose because python3 is less permissive than python2 in that matter.

[2017-03-08 22:00] #69 closed, assigned to nobody

[2017-03-08 22:08] mikaelarguedas commented on #61
closing this because it's a duplicate of #49
PRs to make the code compile with stricter compiler options are always welcome!

[2017-03-08 22:08] #61 closed, assigned to nobody

[2017-03-09 19:38] piyushk commented on #69
@mikaelarguedas: No problem.

I'm not sure how severe the effect of this issue is though, and whether it would require another Kinetic sync. Maybe @dirk-thomas can comment on it.

[2017-03-09 21:05] mikaelarguedas commented on #69
I don't think it's as severe as what motivated the previous sync. The main reason being that a big part of the ROS stack (starting as low as ros_base packages) doesn't support python3 (dynamic_reconfigure for example), or started to support it very recently. So I wouldn't expect many people to have deployed systems relying on it.

That being said a new release will be made soon with this fix in it

[2017-03-09 21:10] piyushk commented on #69
That seems reasonable. We're being forced to use python3 in some ROS scripts due to other dependencies, but I'm not sure how many other people are.

[2017-03-09 21:24] dirk-thomas commented on #69
Sounds good to me.

[2017-03-17 05:59] mikaelarguedas commented on #61
fixed in #63 and #65, @VictorLamoine FYI

[2017-03-17 08:17] VictorLamoine commented on #61
Thanks for the reminder :+1:

[2017-03-20 16:25] mikaelarguedas commented on #58
fixed by #59 and #62. Feel free to reopen or create another issue if the problem reappears

[2017-03-20 16:25] #58 closed, assigned to nobody

[2017-03-21 15:35] progtologist commented on #46
@CodeFinder2 have you resolved this issue? Any updates? We are experiencing similar message loss regardless of the queue size in the ActionServer. The python client does not experience the same behavior, this only happens with the C++ client.

[2017-03-21 15:43] Jmeyer1292 commented on #46
@CodeFinder2 @progtologist I had a single requesting client but with many goals. The queue size changes did seem to alleviate my issues for this case. There may be another queue issue or race condition w/ many clients.

[2017-03-22 21:17] CodeFinder2 commented on #46
@progtologist Unfortunately, I've not solved it yet. And to me, it seems to be a _serious_ problem in the actionlib. Note that all my posts in this issue were/are related to the C++ interface. I've not used the Python variant.

I also thought about network buffer sizes being too small so that there is actual packet loss (even though it's TCP), see, e. g., http://stackoverflow.com/questions/7865069

[2017-03-23 09:21] progtologist commented on #46
Well in our experience, there are some aspects that are affecting this behavior

- Use an async spinner, use as many threads as possible (given the number of processors) (Python does this by default)
- Change the settings of the client/server queues (C++ has different defaults compared to python, why is that really?)
- The problem arises mostly on high latency communications, e.g. over the interne

[2017-03-25 16:47] mikaelarguedas commented on #44
@130s I think that creating a CLT for this single verb is a bit too much as well. A python script installed by the package that can be rosrun'd would do the job I think (e.g. `rosrun actionlib list_action_servers`). So I'll lean toward a script in the tools folder of actionlib.

@luator I'm not sure this will save you a lot of time to run
`rosrun actionlib list_action_servers | grep my_action_serv

[2017-03-25 19:33] ruffsl commented on #44
Here would be my supposed wishlist for `rosaction`:
#### `rosaction list`
List the namespaces of available actions, e.g:
[code]

#### `rosaction info`
Return info about a given action, e.g:
[code]

#### `rosaction type`
would just return give just the type for action, e.g:
[code]
#### `rosaction find`
Return list of action namespaces matching a given action type, e.g:
[code]

#### `rosaction [send

[2017-03-28 14:08] luator commented on #44
@mikaelarguedas To be honest, I wasn't aware that I could simply check for the topics (when thinking about it, it totally makes sense, though). However, only because the topic is listed by `rostopic list` does not necessarily mean that the action server is really running (the node could have crashed or been restarted with a change that now does not start the server).

Anyway, I think a tool as pro

[2017-03-28 15:01] keerthanamanivannan commented on #44
I also had in mind something like what @ruffsl proposed.

[2017-03-29 13:30] adegroote commented on #46
@CodeFinder2 can you share your code if it is not too complex ? I have a similar issue, but with our complete robotic stack, so it is a bit hard to solve. If you have a smaller example leading to the problem, I would take a look if I am able to reproduce it on my hardware.

[2017-04-03 10:30] CodeFinder2 commented on #46
@adegroote Here's the code for testing:
- actionlib_client.cpp: https://pastebin.com/bbJAMtyX
- actionlib_server.cpp: https://pastebin.com/ZBwqrib9
- RoundTrip.action: https://pastebin.com/FAXpLyif
- CMakeLists.txt: https://pastebin.com/5Pme9mHh

If it prints something like "Some error during the i-th action processing [...]", that indicates an error we are interested in (although it may 'just' be

[2017-04-06 16:16] cpagravel opened #75 "Action client not receiving result when server publishes too quickly"
I've made a post of this in the ROS community and have not received any answers so I think this may be a bug in ROS. [Here is my original post](http://answers.ros.org/question/258644/action-client-not-receiving-result-when-server-publishes-too-quickly/). For convenience, I have copied it here.

<h2>Important Info</h2>

- Client hangs randomly in a call to `waitForResult()` (no guarantee that it wi

[2017-04-07 14:03] CodeFinder2 commented on #46
Additionally, [here's](https://pastebin.com/V1UXtPXH) a `move_base_msgs.MoveBaseAction`client written in Python which I successfully used to "reproduce" the issue with _move_base_! For me, it requires to run the script using `python move_base_square.py` (along with a running move_base w/ DWA) about 10 times. Most probably, in ~1 out of 10 tries, the scripts sends a goal (cf. "Sending goal {:d}/4:

[2017-04-16 15:31] johaq opened #76 "Segmentation Fault in Simple Action Client"
I am getting a segmentation fault when getState() in the simple action client is called.
Extract from the gdb backtrace:
[code]
The code in NavigationServer.cpp:
[code]

[2017-04-18 15:44] johaq commented on #76
I think I fixed this issue. In client_goal_handle_imp.h we have:

[code]
[code]

As you can see active is set to false in the reset method after acquiring the scoped_lock. But it is checked in getCommState before acquiring it. This lead to an error when one thread called a reset while another asked for the commState. Pull Request: #77

[2017-04-20 07:36] airballking opened #78 "axclient.py crashes with missing module on ROS Kinetic"
I just ran ```rosrun actionlib axclient.py``` on a system with ROS Kinetic. It crashed giving this error ```No module named wx```. Installing ```python-wxtools``` fixed the issue for me. Maybe there is a missing dependency?

[2017-05-03 09:38] artivis commented on #44
In the line of this discussion, have a look at [axcli](https://github.com/po1/axcli).
One might find most of what necessary for the aforementioned features (List, Info, Type etc...)
From a terminal a call to `axcli [tab|tab]` lists the available actions.
Its auto-completion also works for the action/goal to send (e.g. `axcli my_action [tab|tab]`).

[2017-05-03 19:28] ruffsl commented on #44
Interesting, the [tab|tab] listing uses [rostopic list](https://github.com/po1/axcli/blob/562885cfd173f20158402df47e198e011501d57c/env-hooks/20.axcli.bash#L15) and just scrapes for uses of `goal`.

[2017-05-10 10:23] esteve commented on #46
@CodeFinder2 I can't seem to be able to reproduce this issue using your code, I've set up my environment as following:

- virtual machine with one core running Ubuntu Xenial and Kinetic
- actionlib both from package and compiled from source
- simulated latency via `tc` (I've tried 100ms and 200ms)
- ran for 1000 iterations several times

but (un)fortunately the client always succeeds.

@progtologi

[2017-05-22 13:29] kamibo commented on #46
@CodeFinder2 It seems we have experienced similar issue.
Actually we've found a race condition in relation with ros_comm (fixed here ros/ros_comm#1054).
So for one subscriber first message could be lost. This seems to explain that first "result" (or "goal") can be missed as it is single shot message.

Hope this could help you.

[2017-06-26 02:57] mikaelarguedas commented on #78
Hi @airballking, thanks for reporting the issue. Indeed axclient imports wx without declaring a dependency on it. https://github.com/ros/actionlib/pull/79 and https://github.com/ros/rosdistro/pull/15356 should fix it.

[2017-06-26 06:31] airballking commented on #78
Hi @mikaelarguedas, thanks for looking into this. :)

[2017-06-28 02:46] #78 closed, assigned to nobody

[2017-07-08 00:06] mikaelarguedas commented on #76
fixed in #77

[2017-07-08 00:06] #76 closed, assigned to nobody

[2017-07-09 20:04] pbeeson commented on #75
Does Issue #66 sound like it is the same issue?

[2017-07-10 12:44] cpagravel commented on #75
Yes. That issue looks like it is the same issue.

[2017-07-16 16:02] abishekh opened #84 "Interface with non-ROS projects."
Can actionlib be used to interface with non-ros code ? What would it take to compile a non-ros version that perhaps mimics the ros node object to pass requests to ROS pipelines such as sensors and planners ?

[2017-07-18 00:00] mikaelarguedas commented on #67
addressed in #83. Note the code still needs to be compiled in Release/RelWithDebInfo build type for the asserts to be removed

[2017-07-18 00:00] #67 closed, assigned to mikaelarguedas

[2017-07-20 11:00] lubiluk opened #85 "Crashing on mutex lock"
Hi, my callback action server crashes a lot with the following error:

Abort trap: 6

So far I've established that is always crashes on cancelling an action from a callback based client. Sometimes crashes on accepting new goal (which cancels the previous one) but never upon accepting the first goal.

I'm using SimpleActionSever class. The error occurs in both terminals for client and server.

What

[2017-07-21 12:05] gavanderhoorn commented on #44
Just came across [mcgill-robotics/rosaction](https://github.com/mcgill-robotics/rosaction):

[2017-07-30 07:26] lubiluk commented on #85
Since I've found some evidence that the problem may lie elsewhere, not necessarily in actionlib, I'm closing this issue for now. Sorry

[2017-07-30 07:26] #85 closed, assigned to nobody

[2017-11-30 11:56] alextoind opened #90 "Action client/server block unexpectedly"
I don't know if I am able to let you reproduce this problem but I try to explain in a detailed fashion.

I am using a default `position_controllers/JointTrajectoryController` with a default `actionlib::SimpleActionClient<control_msgs::FollowJointTrajectoryAction> action_client_` on a physical device with just one motor, i.e. one actuator/joint.

I have a control node which exploit a `ros::WallTime

[2017-11-30 15:47] alextoind commented on #90
Brief output of the fault:

[code]

[2017-12-11 00:04] lsolanka opened #91 "SimpleActionServer<>::shutdown() deletes execute_thread_ twice"
Hi,

This code seems to have some duplication:
[code]
In debug builds the second assertion fails always.

It looks like it was introduced in commit bac04a3989c1436d2b9f8300c82ce3cbab0ceee9?

Lukas

[2017-12-11 01:15] mikaelarguedas commented on #91
Thanks @lsolanka for reporting.
This is indeed wrong, the scoping is weird too,  this must have come from a rebasing issue when #72 was merged. See #92 for a proposed fix

[2017-12-11 19:05] #91 closed, assigned to mikaelarguedas

[2018-01-07 12:45] lindzey opened #93 "20-60 second delays in actionlib.SimpleActionClient.wait_for_server()"
(Submitted here based on a suggestion to my [ROS answers question]( https://answers.ros.org/question/277773/20-60-second-delays-in-actionlibsimpleactionclientwait_for_server/)).

I am sporadically seeing actionlib’s wait_for_server() take tens of seconds to return when starting a new client node, even when the server node is already up, running, and responding to goals from other nodes.

It’s disc

[2018-01-17 14:46] v-lopez commented on #91
@mikaelarguedas Any ETA for the release on this? On the last Kinetic sync (January 9th) this was not included.

[2018-01-18 06:17] mikaelarguedas commented on #91
@v-lopez, thanks for pointing it out. The release has been tagged and will be pushed during the next kinetic and lunar sync

[2018-01-18 07:55] v-lopez commented on #91
@miguelsdc Thanks! Take care

[2018-01-25 16:51] pbeeson commented on #91
1.11.12 does not seem to have be released into the build farm yet.  When is the next kinetic sync scheduled? This bug causes actionlibs segfault on shutdown and is having serious impacts on our customers, as our code creates and destroys threads with new actionlibs every so often.  It's going to be a pain to remote into dozens of machines and catkin clean, clone actionlib, and catkin build for our

[2018-01-25 19:18] mikaelarguedas commented on #91
Totally understandable, sorry for the inconvenience, a deb will be available shortly, more details below.

1.11.12 has been released in [Kinetic](https://github.com/ros/rosdistro/pull/16821) and [Lunar](https://github.com/ros/rosdistro/pull/16822) and has been built. Once the downstream packages are done rebuilding it will be synced to the shadow repository.

Kinetic still has some serious regress

[2018-01-25 19:42] pbeeson commented on #91
Great thanks!
On Thu, Jan 25, 2018 at 1:18 PM Mikael Arguedas <notifications@github.com>
wrote:

[2018-01-25 19:56] mikaelarguedas commented on #91
Talking with @tfoote, it should also be possible to sync Kinetic soon as the regressing packages have been reverted to an earlier working version

[2018-01-31 00:38] mikaelarguedas commented on #91
@pbeeson @v-lopez FYI: actionlib 1.11.12 has been synced on [Lunar](https://discourse.ros.org/t/new-packages-for-lunar-2018-01-30/3848) and [Kinetic](https://discourse.ros.org/t/new-packages-for-kinetic-2018-01-30/3849)

[2018-01-31 02:14] pbeeson commented on #91
I noticed.  I had been wget-ing the .deb from the Shadow Repo last week, but this makes life easier moving forward.  Thanks for prioritizing this.

[2018-02-23 05:17] collinsc commented on #40
I also agree with jgomez. It's useful if you need to have multiple action clients in the same node, and juggle in between the two.

[2018-03-05 17:32] GuillaumeHauss opened #96 "Can't send MoveBaseActionGoal using actionlib"
Hi all,
I'm working on autonomous driving and ROS.
A high level server will send me waypoints (an array of Pose between the starting pose of the car and the desired destination), meaning that I will need to only deal with path planning between two consecutive waypoints.
I wanted to used the Action API of move base to do so, but I can't make it work. I want to use MoveBaseActionGoal, rather than Mo

[2018-03-26 18:44] finger563 opened #98 "Add support for specifying the TransitionCallback and FeedbackCallback outside of initGoal"
RIght now the `TransitionCallback` and `FeedbackCallback` must be provided every time `initGoal` is called in order for the callbacks to be called.  I'm opening this issue for a PR I will make which will add support for configuring those callbacks outside of the `initGoal` call.

[2018-04-03 17:49] finger563 commented on #98
Would mirror the structure of the [SimpleActionSever](http://docs.ros.org/api/actionlib/html/classactionlib_1_1SimpleActionServer.html#a4964ef9e28f5620e87909c41f0458ecb) which allows
[code]

so that the [SimpleActionClient](http://docs.ros.org/api/actionlib/html/classactionlib_1_1SimpleActionClient.html) would have methods
[code]

[2018-04-03 19:47] finger563 opened #100 "SimpleActionClient / SimpleActionServer default constructors"
Currently, they cannot be defined as members of classes because they lack default constructors - for lazy initialization as might be needed when they exist as part of another class.

[2018-04-06 20:19] finger563 opened #101 "Add support for specifying the callback queue the ActionServer uses"

[2018-04-19 18:38] ibhandal opened #103 "Stuck waiting for server"
I wrote a code that should connect to move_base but when I use ac.waitForServer(); The code just waits forever. I know move_base is an action I should be able to connect to because when pulling up rostopic list, it's there. In the picture I use while(!ac.waitForServer()){} but I've also just used ac.waitForServer(); and the same issue arises. I'm coming to believe that it is an issue with my lapto

[2018-04-19 18:45] mikaelarguedas commented on #103
Hi @ibhandal,
In case you are not aware of our [support guidelines](http://wiki.ros.org/Support): Please ask your questions on ROS answers and don't post pictures of code as they are not searchable or copy-n-paste able.

Thanks!

I'm going to close this in favor of a ROS Answers question. You can comment here with a link to your ROS answers question for future readers

[2018-04-19 18:45] #103 closed, assigned to nobody

[2018-04-20 08:40] victl opened #104 "boost::posix_time::milliseconds does not allow float point value initialization"
With recent release of the Boost Library, boost::posix_time no longer permit initialize a milliseconds/microseconds with a float point value. This broke some of the packages of ROS, and 'actionlib' is one that's been affected. Other packages being affected include 'rostime' and 'laser_assembler'.

I'm opening this issue here hoping someone could fix it for the good of all people.

I encountered th

[2018-04-24 17:05] mikaelarguedas commented on #104
Thanks @victl,

It looks like boost was expecting floating point values before (as it's always explicitely passed floating point values in the code).
Do you know what is the oldest version of boost for which this change will work ?

PRs would be much appreciated. If there are repos where this is a one line fix, you can use the github UI to edit the file directly and github will take care of forkin

[2018-04-29 22:56] #104 closed, assigned to nobody

[2018-06-14 07:59] saurabhbansal90 opened #108 "Compilation issue in simple_action_server code"
Hello,
I am building a simple_action_server for gripper_led_action. The environment details are as below:
catkin version: 2.8.3
boost version: 1.58
gcc: 5.5.0
c++11

The code is as below:

But there are compilation issues in this, as below:
[code]

There seems to be some problem with passing the callback function.
Can you please let me know what should be the problem, and how to solve it.

Saurabh

[2018-06-14 08:19] mikaelarguedas commented on #108
thanks @saurabhbansal90 for reporting this.

However I believe you already asked the same question at https://answers.ros.org/question/294052/compilation-error-in-ros-action-server-code

ROS Answers is the right place to ask for troubleshooting question. It gives visibility to your question for the entire ROS community to answer and visibility to the answer for any other user facing the same issue

[2018-06-14 08:19] #108 closed, assigned to nobody

[2018-07-06 14:35] jr-bor opened #109 "Extending ActionServer with Pausing capabilities"
I have a doubt that hopefully you can help me with :smile:

**Use case**: I have an action_1 running (e.g. DoDishes) and, while performing, I want to perform another action_2 (e.g. pick up the phone).

As far as I can think about it, a way of implementing this with the SimpleActionServer it would be to create two of these. When the second option wants to be executed, I cancel action_1, execute act

[2018-07-10 01:46] 130s commented on #44
Thanks for the interesting finding for some existing repos. I've asked if maintainers of each repo gets interested in sending pull requests to the upstream somewhere appropriate so that the rest of us in rosland can use without adding extra dependency:

- https://github.com/po1/axcli/issues/5
- https://github.com/mcgill-robotics/rosaction/issues/1

[2018-08-08 06:16] felixvd commented on #44
A bit of a +1 post. Just want to note that the fact that no good CLI like `rosservice call` exists for actions has kept us from using them in the past, and made us use services where they were not appropriate. We have been using tab completion of empty service calls constantly, and would use something like `rosaction call` just as much.

[2018-08-09 21:28] maximkulkin commented on #44
Hey, I managed to compile stuff from other projects into a CLI tool. Now I want to add bash completion. This should not be hard, it's pretty similar to rosservice and much of completion code can be reused. My question is: what is the best way to add it? Thing is that existing completions live in rosbash package and provide completions for ROS core CLI tools while actionlib is kind of add-on packag

[2018-08-13 02:55] maximkulkin commented on #44
Nevermind guys, I figured out how to provide completions for new tool. Just need to make it pass CI.

[2018-08-13 06:35] gavanderhoorn commented on #44
@maximkulkin wrote:

+1 for doing this, but looking at the files in #115, I don't see any licenses or mentions of the (authors of the) projects you used.

Would that be something you still need to add?

[2018-08-13 07:09] anassinator commented on #44
Author here of [mcgill-robotics/rosaction](https://github.com/mcgill-robotics/rosaction), which seems to be the basis of #115. I don't know much about licensing, but I'm open to relicensing or whatnot if that helps get this in.

Also, wouldn't the autocompletion need to support `zsh`, `fish`, and `tcsh` as well?

[2018-08-13 13:26] maximkulkin commented on #44
Well, I used above mentioned projects as an examples and source code is not copyrighted although am OK to put whatever mention you feel necessary.

[2018-08-13 13:28] maximkulkin commented on #44
As of autocompletion: I do not use those other shells, so I can not test it there. I'll leave it to people who use those shells.

[2018-08-13 19:22] gavanderhoorn commented on #44
@maximkulkin wrote:

I don't believe it works that way :)

Software is *always* copyrighted. It is the license attached that allows you to use it, *or not*.

In this case the following licenses were attached to the source code of the two above mentioned projects:

 - `mcgill-robotics/rosaction`: MIT ([license](https://github.com/mcgill-robotics/rosaction/blob/973c2a10084dc3931f1fc1b7b878752e3d141b

[2018-08-13 19:49] maximkulkin commented on #44
I disagree: I used sources of those projects to figure out how to do basic things and then implemented that stuff myself, adding error handling and tests. It's like you use tutorials or examples to know how to do things. There were no tricky algorithms involved, just obvious stuff that could be found elsewhere. The MIT license says that copyright should be preserved in "all copies or substantial p

[2018-08-13 21:02] gavanderhoorn commented on #44
I'll leave it to you to do what you feel is the right thing to do.

I just wanted to correct you when you wrote "source code is not copyrighted".

---

Edit:

This is called "conceptual reuse" and is actually something that is considered by some people to also be covered by licenses: without looking at those sources it would have possibly taken you more time to figure out how to things.

By allowi

[2018-08-13 21:16] maximkulkin commented on #44
Well, the license does not mention anything on "conceptual reuse".

I actually don't care who will be listed where (and I do not list myself anywhere), but I do not see this practice used in ROS projects, so I do not know where to put this stuff. And it looks like original author don't mind (@anassinator are you?).

[2018-08-15 19:45] anassinator commented on #44
I don't have any strong opinions about this TBH. I would expect this repo's owners might have something in mind anyways.

BTW, it seems like this repo already has a few precedents like here: https://github.com/ros/actionlib/blob/indigo-devel/src/actionlib/action_server.py#L29-L30

[2018-08-23 22:45] maximkulkin commented on #44
Hey I've added a reference to original rosaction repository and my last CI run completed successfully. Take a look.

[2018-10-23 18:38] marcelinomalmeidan commented on #40
First of all, I would like to endorse this request!
For those who are impatient to wait until the codebase is changed, there is an alternative.
You can actually see what is the current state of the action server by subscribing to the topic
`[action_name]/status`
This topic returns a message of the type `actionlib_msgs::GoalStatusArray`. In your code, you can check whether the action server is busy

[2018-10-27 19:10] jorgenfb opened #116 "Race condition: Goal state is SUCCEEDED before result is available."
SimpleActionClient seems to have a race condition. Calling `get_state()` can give the SUCCEEDED state before a result is available.

This is a package showing the problem. It uses a `SimpleActionClient` to make a request and then checks `client.get_state()` at a high frequency to check for `SUCCEEDED` state and then checks if `client.get_result()` returns a result. An error is printed if the resul

[2018-11-02 06:53] fujitatomoya opened #117 "returned PREEMPTED or RECALLED if the system time is rolled back with NTP"
[Overview]
if the system time is jumped back with NTP or other time synchronization service, actionlib client setgoal will be returned with Action finished: RECALLED. im not sure this is the design or specification for actioblib, but it should use monotonic SteadyTime.

[Reproduction Procedure]
$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTI

[2018-11-05 10:55] k-sawa opened #119 "SimpleActionClient sometimes not subscribe result topic"
I posted this issue in ROS Answers, but I have not got a clear answer. I think that it is a new bug in ROS, so raising an issue here. The original post is [here](https://answers.ros.org/question/306410/actionlibsimpleactionclient-sometimes-not-subscribe-result-topic/).

### Reproduction procedure
I have a simple reproduction code [here](https://github.com/k-sawa/action_test_case), it tries action

[2018-11-08 03:12] k-okada commented on #119
Thank you for detailed report.  I just noticed that your example code works, if we changed to
[code]
Do you have any good reason to start your `spin_thread` and initialize `ac` every time?

[2018-11-08 07:54] k-sawa commented on #119
Thank you for testing and comment my code.
I'm concerned that the topic subscribing error occurs at node initializing or not.
Creation of an actionlib client instance, in the loop every time is not this issue's Essense.
Is it better for the testing cycle of the test node launching and exit?

[2018-11-08 12:34] k-sawa commented on #119
Sorry I accidentally closed this, so I reopen one.

[2018-11-08 12:40] k-okada commented on #119
So, Why you initialize ac within every loop?

2018年11月8日(木) 21:34 Kazuhide Sawa <notifications@github.com>:

--
--
◉ Kei Okada

[2018-11-09 08:46] k-sawa commented on #119
There is no reasonable reason to initializing action client every loop, in the normal use.
I intended to make the loop test code for investigating the initial subscribing behavior of action client.

[2018-11-15 05:16] k-sawa commented on #119
As the result of additional investigation, I think it is a reconnection issue of action client.

I made other reproduce program that loops launch of action server and client, and the issue was not reproduced as 13,000 tries. Then tried action client launch and exit only loop, as keep launching action server, it was reproduced twice in 8,609 tries. The code is [here](https://github.com/k-sawa/actio

[2018-12-03 12:48] doisyg commented on #40
Any progress on this topic?
PR here seems blocked : https://github.com/ros/actionlib/pull/97

[2018-12-04 10:54] waltejon opened #121 "Using a action's result"
Hello together,

together with another student, we have written a action client and server by using `actionlib/client/simple_action_client.h` and `actionlib/server/simple_action_server.h`.

At the terminal we can see the result correctly.

Now we would like to use result for further activities. For this the source file of the client contains:

`actionlib::SimpleActionClient<manipulator::DetectionA

[2018-12-04 20:04] tfoote commented on #121
Please ask questions on https://answers.ros.org following our support guidelines: https://wiki.ros.org/Support  We use the issue tracker for tracking development of features and resolving bugs.

[2018-12-04 20:04] #121 closed, assigned to nobody

[2018-12-28 04:56] fujitatomoya commented on #119
+1

[2019-01-14 10:12] cwecht commented on #100
You can define SimpleActionClient and SimpleActionServer as members of classes. You just need to initialize them in the member initializer list of the constructor.

A popular alternative is to put them on the heap, but I would rather recommend boost::optional for optional members.

[2019-02-05 03:55] #40 closed, assigned to nobody

[2019-02-15 09:34] veeraragav opened #125 "simple action client freezes dring client object declaration."
`#include <ros/ros.h>
#include <actionlib/client/simple_action_client.h>
#include <actionlib/client/terminal_state.h>
#include <roadmap_global_planner_msgs/DoPatrolAction.h>

int main (int argc, char **argv)
{
  ros::init(argc, argv, "fakee");
  std::cout<<"fakee"<<std::endl;
  // create the action client
  // true causes the client to spin its own thread
  actionlib::SimpleActionClient<roadmap_gl

[2019-02-15 10:35] veeraragav commented on #125
sorry, that was a mistake with roadmap_global_planner_msgs's CMakeLists.txt.
I did not add actionlib_msgs to catkin_package(CATKIN_DEPENDS ).

[2019-02-15 10:35] #125 closed, assigned to nobody

[2019-02-15 14:20] martiniil opened #126 "Error calling cancel_goal() in simple state DONE"
Using a SimpleActionClient, I would like to be able to cancel a goal with minimal delay. But using cancel_goal() sometimes yields the following error:

This is due to the action client transitioning from DONE -> WAITING_FOR_CANCEL_ACK. In my opinion this should not happen. (which would be in accordance with the figure of the state transitions: http://wiki.ros.org/actionlib/DetailedDescription).

[2019-03-13 15:31] jschleicher commented on #126
Probably one would want a similar check as in cpp 3db5a80d2363ddef4ffb0abc4d5bcb44c8670708 for the python client. The python client lacks such a "ignore cancel request" section https://github.com/ros/actionlib/blob/7c1833418c52ef857fbd2aae9954ccc3796b42a6/src/actionlib/action_client.py#L139

[2019-03-20 16:40] edenfrosst opened #129 "Actionlib pulls GUI dependencies"
When installing ROS, the `ros-base` set of packages is documented as having "no GUI tools", making it ideal for lightweight headless systems. Actionlib, as part of the core ROS stack, is included as part of this configuration. However, Actionlib includes two GUI tools, written in Python (`axclient.py` and `axserver.py`), and as of #79, includes their dependency `python-wxtools`, which pulls in nea

[2019-03-25 16:19] edenfrosst commented on #129
Bump @mjcarroll

[2019-03-25 16:27] mjcarroll commented on #129
@ianjfrosst Thanks for the heads up.  I think that the correct thing to do here would be to move those GUI-dependent scripts into their own package to keep them out of ros-base.

If you have time/comfort level to make those modifications, I would happily review, otherwise I can put it in my backlog, but not sure when I can get to it.

[2019-03-31 07:21] gavanderhoorn commented on #129
@mjcarroll: seeing as this repository currently hosts a single package at its root, would you rather this repository's layout is changed (ie: push everything down into a directory for the package), or should a new repository be created?

[2019-03-31 18:27] edenfrosst commented on #129
I've made those modifications (created a new package `actionlib_tools`), but was stuck on @gavanderhoorn's point. Currently, I have them in a separate repository, which normally I'm not a fan of (breaking up git history), but in this case, those tools have only ~7 commits that touch them.

[2019-04-01 09:18] gavanderhoorn commented on #129
Pushing everything in this repository down into an `actionlib` sub dir and then adding your `actionlib_tools` probably makes the most sense: the packages are closely related (as in: changes to `actionlib` will probably require changes to `actionlib_tools` as well) deal with the same topic and versioning and releasing them together would then make sense as well.

But I'm not a/the maintainer here,

[2019-04-01 13:34] mjcarroll commented on #129
I'm okay with modifying the layout of the repository for the same reasons that @gavanderhoorn has stated above.

[2019-04-04 20:16] mikepurvis commented on #129
Yes please to this change— it's also a hassle because the story for `python-wxtools` and Python 3 is a little murky right now, so dropping the dependency is a good step forward on that. See:

https://stackoverflow.com/questions/26251030/how-to-use-wxpython-for-python-3
https://pypi.org/project/wxPython/

Neither of these two packages are available upstream in a `python3-` version as of Ubuntu disc

[2019-04-06 01:22] edenfrosst commented on #129
#133 implements these changes.

[2019-04-28 06:08] desstiony opened #134 "How can I use actionlib API directly to send multiple goals ?"
simpleaction server can not handle multiple goals.If i send 5 goals, it cancels the 2. 3. 4. goals. Is there any way to deal with case?

thanks!

[2019-04-30 13:15] remod commented on #49
Addressed in https://github.com/ros/actionlib/pull/135.

[2019-05-01 12:50] fujitatomoya commented on #134
in that case, you can use ActionServer and ActionClient, and you can implement whatever you wanna do.
maybe you could check out [DetailedDescription](http://wiki.ros.org/actionlib/DetailedDescription)

[2019-05-16 09:38] r7vme commented on #96
Probably late answer. I'm also looking to set goal ID, but it seems it's not possible with [SimpleActionServer that is used by move_base](https://answers.ros.org/question/59374/how-do-i-set-the-goalid-in-actionlib/).

[2019-05-20 12:58] beetleskin commented on #19
It does: https://answers.ros.org/question/10290/weird-behavior-when-instantiating-simpleactionclient-right-after-initializing-node-in-rospy/

[2019-05-20 13:06] beetleskin opened #137 "wait_for_server should use walltime"
_wait_for_server()_ uses ros-time for checking how much time passed. This has two issues when using [sim time](http://wiki.ros.org/Clock#Using_Simulation_Time_from_the_.2BAC8-clock_Topic)
* the function never returns when /clock is never published, which is unexpected
* the function returns too early, if time gets initialized while _wait_for_service()_ is running

The function should behave like i

[2019-05-24 06:21] fujitatomoya opened #139 "warning: extra ‘;’ [-Wpedantic] for ACTION_DEFINITION"
there are the following compile warning,

[code]

[2019-05-24 06:25] fujitatomoya commented on #139
#140

[2019-06-25 03:37] rcywongaa opened #143 "Boost mutex error when using SimpleActionClient with std::unique_ptr"
Tested with ROS Melodic
The minimal example that reproduces the issue (modified from [this example](https://docs.ros.org/groovy/api/actionlib/html/simple__client__wait__test_8cpp_source.html)) is as follows

    #include <memory>
    #include <gtest/gtest.h>
    #include <actionlib/TestAction.h>
    #include <actionlib/client/simple_action_client.h>

    using namespace actionlib;

    std::unique

[2019-07-08 18:33] glpuga opened #144 "Some ActionClients being left waiting forever when server sends results to two or more clients in a very short span of time"
I found an issue when the cpp Action Server sends results to two or more clients during a very short span of time, which causes all but one of the clients to be left hanging in most cases.

I tracked the problem to being very likely related to the default value of the queue length (only one message long) used for the feedback and result subscribers in the ActionClient, see [action_client.h:224](ht

[2019-07-08 18:34] glpuga commented on #144
Poking  @mikaelarguedas who knows this code.

[2019-07-26 04:11] canalteks opened #146 "failed to exit program"
Dear developers,

we found that python actionlib.SimpleActionServer will block to exit program, when we raise an exception. the following codes will reproduce the problem.

[code]

we can see **'terminated'** message on the console, but the program is still running.
only `kill -9 PID` can stop the program.

to exit this program properly, we need `rospy.signal_shutdown()` before raising an exceptio

[2019-07-29 21:15] wolfv opened #147 "New release?"
Hi, I'm interested in the fix for boost 1.68 that went in on August 30 last year.

When do you consider releasing a new version of actionlib? I'm trying to build a ROS Melodic Stack using conda/conda-forge.

Cheers

[2019-07-30 06:40] wolfv commented on #147
Turns out it has already been released as 1.11.15. However, this release doesn't seem to appear as part of the melodic distribution (if I build from the distro I actually get 1.11.13).

Only 1.11.14 seems to have been released for melodic (but I don't even get that using `superflore`). I am going to build from the release on github for now but it would be cool if this could be fixed (also the PR w

[2019-08-29 14:21] ghost opened #149 "Can not build actionlib on kinetic"
I've posted the same issue [here](https://github.com/ros-gbp/actionlib-release/issues/1).

I'm running Xenial on a Raspberry Pi Model 3 B+
[code]
[code]
I'm (attempting to) install kinetic according to gvdhoorn's answer [here](https://answers.ros.org/question/237613/how-to-define-ros-kinetic-to-use-python3-instead-of-python27/).
In a virtual environment I run
`$ catkin build -j1 -DCATKIN_ENABLE_TE

[2019-09-27 08:52] mxpfeng opened #151 "How to resume a task after canceled a task"
When I use actionlib in move base, I send cancel task topics. After a period of time,  want to resume the task.What I did was resend the same target point.But the program did not respond.If I send a new target point, the program executes normally.How to solve it?
Thank you very much

[2019-10-22 18:23] sloretz opened #153 "Noetic Python 2 dependency on wxtools"
It looks like the [noetic source entry for `actionlib`](https://github.com/ros/rosdistro/blob/1b96f7c4f230e878f9901a6cc3465af9cbca22fc/noetic/distribution.yaml#L13-L19) has a `package.xml` that depends on the Python 2 rosdep key `python-wxtools`.

https://github.com/ros/actionlib/blob/c9d442a86556a866ce2afceb3e055a9d0f235e89/actionlib_tools/package.xml#L24

I don't think there is an equivalent ros

[2019-11-04 13:52] scopeccsky opened #154 "Segmentation Fault when I run client node"
ROS-melodic
ubuntu 18.04

I am learning actionlib, and I copy code from wiki actionlib and catkin_make success, but when I run client, the fault always at "Client client("do_dishes", true); // true -> don't need ros::spin()"

This is the information from gdb:

#0  0x00007ffff6a99f13 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#1  0x00007ffff6fa969c in boost::detail::add_new_tss_node(voi

[2019-11-06 15:30] amilcarlucas commented on #84
This is not an issue/bug. This is a support question, and I guess it should be asked in a support forum, not here.

[2019-11-06 19:15] #84 closed, assigned to nobody

[2019-11-20 10:04] jschleicher opened #155 "`waitForResult` returns before doneCb"
In simpleActionClient `waitForResult` sometimes waits until the done-callback was called, but it should ensure its completion to avoid race-conditions on the client side.

See ros-planning/moveit#1493

Steps to reproduce see [docker gist](https://gist.github.com/jschleicher/3e10e85c1a88e979bdfa4b4e04013046)
1. start from [actionlib_tutorials](https://github.com/ros/common_tutorials.git)
2. add sle

[2019-11-20 12:20] dorezyuk commented on #155
Seems like I had the same issue with the python client: see pull request https://github.com/ros/actionlib/pull/150

[2019-12-18 17:30] edenfrosst commented on #129
#157 implements these changes but better.

[2020-01-16 23:18] 130s commented on #153
Not entirely sure but https://stackoverflow.com/a/20614692/577001 says wxpython 4, which seems to be already available via `pip`, is compatible for both Python 2 and 3. Today I see [python-wxtools for Ubuntu Focal is 3.0.2](https://packages.ubuntu.com/focal/python-wxtools). If I'm correctly seeing the situation, one way to go may be to make a dep rule for focal for pip?

Obviously "cleaner" option

[2020-01-16 23:28] sloretz commented on #153
I don't think debian packages can depend on pip packages though. The [places where wx is imported](https://github.com/ros/actionlib/blob/c89e440519eeb88a5005065a32330655c9450b8e/tools/axclient.py#L46) would fail if the only thing someone did was install `ros-noetic-actionlib`.

[2020-01-16 23:31] 130s commented on #153
Ah you're right.

Btw not a solution to this issue, but I found https://github.com/ros/actionlib/issues/129 is related.

[2020-02-07 07:22] djh329 commented on #93
Was the cause of this ever discovered?

[2020-02-07 07:27] lindzey commented on #93
Not that I ever heard of. We didn't have resources at the time to dig deeper, and I'm no longer with that team.

[2020-02-08 19:55] djh329 commented on #93
Are you running within a Docker container by chance?

[2020-02-08 20:40] lindzey commented on #93
No, we weren't using Docker.

On Sat, Feb 8, 2020 at 2:55 PM Daniel Hirsch <notifications@github.com>
wrote:

[2020-03-04 10:44] fujitatomoya commented on #144
@glpuga

i do agree with you, it is so unlikely to happen but eventually there is a possibility. since it is configurable using parameter actionlib_client_pub_queue_size/actionlib_client_sub_queue_size, it is user responsibility what to set.

[2020-03-06 10:49] jschleicher commented on #119
This issue probably makes the tests currently flaky, see [unstable build for PR #158](http://build.ros.org/job/Npr_db__actionlib__debian_buster_amd64/10/console)
[code]
With additional debug output, it seems like the server receives the goal, but the test node doesn't get the result.

[2020-03-12 10:01] StefanFabian commented on #144
@fujitatomoya I have to strongly disagree.
You're right that most users may not ever encounter this limitation but it's not as unlikely as you think it is.

As far as I understand it, the idea of the ActionClient is explicitly to support multiple goals whereas the SimpleActionClient simplifies that to tracking a single goal.
As it is, the ActionClient does **not** support multiple goals fully.
A s

[2020-03-13 05:34] fujitatomoya commented on #144
@StefanFabian

correct,

i do understand, and yes logically that is possible or probable.

None means infinite(default), agreed on this. at least this should be consistent as ActionClient python. (i cannot explain why there is a difference between cpp and python.)

[2020-03-13 06:03] fujitatomoya commented on #144
@StefanFabian @glpuga

https://github.com/ros/actionlib/pull/162, that is an easy fix, but could you check just in case?

[2020-04-11 19:01] robodyne-robotics commented on #154
I'm having the same issue and I have the same Ubuntu version, too.

[2020-04-14 05:04] fujitatomoya commented on #154
@scopeccsky @robodyne-robotics

are you referring to [actionlib/Tutorials](http://wiki.ros.org/actionlib/Tutorials)?
can you try to use [actionlib_tutorials](https://github.com/ros/common_tutorials/tree/indigo-devel/actionlib_tutorials) instead?

I think that wiki is to explain and share insights, maybe it is better to use actual tutorial code.

[2020-04-23 16:46] #155 closed, assigned to nobody

[2020-04-23 18:16] sloretz commented on #153
@mjcarroll friendly ping. It looks like `actionlib_tools` is released in Noetic with a Python 2 depedency. Mind removing it?

[https://github.com/ros-gbp/actionlib-release/blob/debian/ros-noetic-actionlib-tools_1.13.0-1_focal/package.xml#L24](https://github.com/ros-gbp/actionlib-release/blob/c33e80ff9c9544a2b1884af3c5f2f510e0a3e4e6/package.xml#L24)

[2020-04-23 21:42] mjcarroll commented on #153
I'll take a look @sloretz, thanks for the reminder.

[2020-05-21 12:09] guiolpei commented on #93
Any news on this?

We are experiencing the similar problem. Works perfectly in simulated environment, but delays appear when testing on real setup.

First run works without delays, but from the second time on these same delays occur.

[2020-05-21 14:05] djh329 commented on #93
I was able to solve this by adjusting File ULimits. I was running inside Docker. I found the solution here: https://github.com/moby/moby/issues/38814

[2020-05-21 14:18] gavanderhoorn commented on #93
@djh329: so what was the solution? Lowering or raising the limits? From some of the comments on the issue you link it seems lowering would reduce accounting delay, but issues with ulimits are typically 'solved' by raising them.

[2020-05-21 14:25] guiolpei commented on #93
@djh329: Unfortunately we are not using Docker.

[2020-05-21 16:48] djh329 commented on #93
We lowered them to 1024 in our case

[2020-05-27 15:17] doisyg opened #167 "[noetic] Where is axclient.py ?"
I use quite a lot  `rosrun actionlib axclient.py` but I don't find it under the noetic release

[2020-05-27 15:22] doisyg commented on #167
Related to the python 2 wxtools dependencies... https://github.com/ros/actionlib/issues/153
axclient.py and scripts/axserver.py  are not installed anymore
https://github.com/ros/actionlib/blob/b58e1228af606d449f988f4609f176bb3353b357/actionlib_tools/CMakeLists.txt#L8-L14

[2020-06-05 17:38] sloretz commented on #153
@mjcarroll Might be able to use https://packages.debian.org/buster/python3-wxgtk4.0, but will need a rosdep key

https://github.com/ros/rosdistro/pull/25075#issuecomment-639226726

[2020-06-16 08:01] guiolpei commented on #93
We were defining the SimpleActionClient inside the control loop, causing it to be created and destroyed in each execution.

We managed to solve this problem by defining it as a global variable and keeping it alive during the whole process.

[2020-06-18 04:39] fujitatomoya commented on #117
i do not think this can be supported on the current implementation since it uses system time not steady monotonic time.

[2020-06-18 04:39] #117 closed, assigned to nobody

[2020-06-19 08:22] mikaelarguedas commented on #167
+1 this is a valuable tool with no real replacement available in Noetic.
Commenting to voice my support for its' Python 3 conversion and return in the debs :)

[2020-08-16 15:44] mikaelarguedas commented on #167
@doisyg @reinzor @BG-Keith I submitted a Noetic compatible version at https://github.com/ros/actionlib/pull/169 if you guys want to give it a try

[2020-08-17 11:36] reinzor commented on #167
Thanks!

![axclient](https://user-images.githubusercontent.com/4176023/90392163-a8c9d980-e08e-11ea-9d08-edc9cedc50b5.gif)

Seems to work nicely here!

[2020-08-21 15:27] #153 closed, assigned to nobody

[2020-10-12 15:46] hcostelha commented on #167
I have tested this with the current Ubuntu available repository package and is working fine, so I guess this issue can be closed.

[2020-11-12 07:17] prabeenkumar122 opened #175 "Restarting the action-server during goal execution makes CPP-action-client crash in windows, ROS1 Melodic"
Restarting the action-server during goal execution(before result is sent back to action client) makes CPP-action-client crash in windows.

This issue is not seen in linux.

Issue is seen in ROS1 Melodic

Steps:
1. started an action server from command : " rosrun actionlib_tutorials averaging_server " in command window

2. created an simple-action-client using cpp actionlib api and sent the goal
aC

[2020-11-23 18:26] machinekoder opened #176 "race condition in SimpleActionClient"
I noticed that `wait_for_result()` may cause a race condition. The `done_condition` lock is not used when setting the simple_state, therefore `done_db` might not have been called when `wait_for_result` returns.

see
https://github.com/ros/actionlib/blob/noetic-devel/actionlib/src/actionlib/simple_action_client.py#L239-L243
and
https://github.com/ros/actionlib/blob/noetic-devel/actionlib/src/action

[2020-11-23 18:28] machinekoder commented on #176
related to https://github.com/ros/actionlib/issues/116

[2020-12-10 17:42] jacobperron opened #178 "exercise_simple_client test failing on Noetic"
The Ndev (and Npr) jobs have been failing since August 21st with the following failure:

http://build.ros.org/job/Ndev__actionlib__ubuntu_focal_amd64/11/

[code]

[2020-12-15 10:10] #139 closed, assigned to nobody

[2020-12-15 16:48] c-andy-martin opened #181 "wait_for_server can return before result or feedback topic is fully connected"
The check for subscription to the result and feedback topics in wait_for_server is insufficient to actually having a completed subscription. The check simply checks if we are tracking a connection in the connection list. Unfortunately, connections are added to the list in rospy *before* the underlying transport is connected. In certain scenarios, this can take enough time to miss a result from the

[2021-01-14 03:43] rcywongaa opened #183 "Implement interfaces for easier mocking"
Since `actionlib` is frequently used as part of a larger system, it would be nice if commonly used classes, e.g. `SimpleActionClient`, `SimpleActionServer` implemented an interface so that they can be easily mocked when unit testing the rest of the system.  It doesn't seem like a big / breaking change and if the core devs are agreeable, I can prolly implement it and submit a PR.

[2021-02-03 02:11] marcelino-pensa opened #186 "Suppress debug in stdout"
Hi,

I've been using `actionlib` to generate my own action client/server. However, the callbacks in `actionlib` tend to flood my stdout with debug prints.
I can suppress those if I use one of the [rosconsole methods](http://wiki.ros.org/rosconsole) for only printing `INFO` and above, but that also suppresses my `DEBUG` prints in the node that I have written.
I would like to find a way to suppress

[2021-02-03 03:16] marcelino-pensa commented on #186
I found out how to do it using a `launch` file, which solves my problem.
Adding the following to your launch file does the trick (substitute `my_node_name` for the name of the node that actually loads `actionlib`):
[code]

[2021-02-03 03:16] #186 closed, assigned to nobody

[2021-02-19 09:27] #167 closed, assigned to nobody

[2021-03-25 17:19] jacobperron commented on #178
Fixed by ros/ros_comm#2107

[2021-03-25 17:19] #178 closed, assigned to jacobperron

[2021-05-21 14:11] rickstaa commented on #167
For future reference, the tool is now found under the `actionlib_tools` package and can be started using the:

[code]

command.

[2021-05-21 14:16] rickstaa commented on #167
For future reference, the `axclient.py` tool has been moved to the `ros-noetic-actionlib-tools` package. I could not find the official wiki for this subpackage.

[2021-07-31 22:00] Russ76 opened #192 "noetic install broken"
sudo apt-get install ros-noetic-actionlib
Reading package lists... Done
Building dependency tree
Reading state information... Done
ros-noetic-actionlib is already the newest version (1.13.2-1focal.20210423.233703).
ros-noetic-actionlib set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 59 not upgraded.
2 not fully installed or removed.
After this operation, 0 B of additional

[2021-08-05 13:58] ndepal commented on #119
I have a roscpp node that has an `actionlib` `SimpleActionClient`. During start up, my node calls `ac.waitForServer()`. This sometimes hangs indefinitely, sometimes it just takes several minutes, despite the ROS node serving the action already being up.

The debug output of the `ros.actionlib.ConnectionMonitor` logger of the client node shows:

[code]
Which is printed here.

Doing a `rostopic echo

[2021-08-06 09:49] ndepal commented on #119
I think I found out what was causing the issue for me. The issue was that my Docker containers had a much higher `nofiles` `ulimit`. Setting this to 1024 (which is what the Ubuntu host OS also has) seems to resolve the issue.

I found the solution thanks to https://github.com/ros/actionlib/issues/93#issuecomment-632105100.

I'm guessing something like this is happening https://github.com/moby/moby

[2021-08-17 08:08] gavanderhoorn commented on #192
Cross-post of [Actionlib didn't install](https://answers.ros.org/question/383604).

[2021-08-17 08:44] tfoote commented on #192
This is not a problem with actionlib installing. You already have the latest version on your system `ros-noetic-actionlib is already the newest version (1.13.2-1focal.20210423.233703).
ros-noetic-actionlib set to manually installed.`

Thanks to @gavanderhoorn for the cross link closing this here as he's already answered you on the answers post. You need to look at the broken installation of amdgpu

[2021-08-17 08:44] #192 closed, assigned to nobody

[2021-09-09 11:09] v-lopez opened #193 "Broken sending goals from doneCb in noetic"
After https://github.com/ros/actionlib/issues/155 one of our use cases is broken.

If you are using a SimpleActionClient, and on your `done_cb` send another goal, it is possible that a status message or result message from the previous goal is interpreted for the current goal.

This code sample fails on 1.13.2 but works fine on 1.12.1:
[code]

After #155 it gets stuck with:

[2021-10-11 04:09] guohefu commented on #193
I have the same problem，do you have a solution？

![image](https://user-images.githubusercontent.com/9015045/136731980-b09fcad4-11fb-4e76-86d1-e9761d73249c.png)

[2021-10-11 08:07] v-lopez commented on #193
We had to implement a hacky workaround. I believe we use a single shot timer to send the new goal later, instead of right at the doneCb.

[2021-10-13 06:44] guohefu commented on #193
I think this is not the optimal solution, I hope it can be solved completely

[2021-10-27 07:03] HappySamuel commented on #116
Hi @jorgenfb

I also faced this issue when i am calling client.get_state() at around 5Hz. Have you find a solution / workaround for this?

Best,
Samuel

[2021-10-27 07:42] jorgenfb commented on #116
Yes, have a look at https://github.com/ros/geometry2/issues/178. Especially this comment: https://github.com/ros/geometry2/issues/178#issuecomment-431801344. You might be able to use:
[code]

[2021-10-27 08:12] HappySamuel commented on #116
Isn't the `client.wait_for_result()` will put whole system on wait? until result come out?

[2021-10-27 08:33] jorgenfb commented on #116
Just your current thread. If you are only spinning until a result is ready,
then you can use wait_for_result without any issue
Regards
Jørgen Borgesen
nLink
+47 456 19 649

The content of this e-mail is of a confidential and proprietary nature and
may be protected by law. The content is only intended for the individual(s)
named in the message. If you have received this e-mail by mistake, please
re

[2021-11-17 06:08] LOKAKSHAI commented on #96
By using action client, we can be able to give autonomous goals by using ros service call

[2021-11-25 09:33] corot opened #196 "After calling cancel_all_goals() isNewGoalAvailable returns true"
If there was already a goal with PENDING status.
The action server cancels (correctly) both the ACTIVE and the PENDING goal, and sets `new_goal_preempt_request_` to true.
But doesn't touch `new_goal_`, and so `isNewGoalAvailable` will keep returning true. This is a big problem, because on simple action server, `isNewGoalAvailable` is afaik the only way to tell if the current goal is being preempte

[2022-05-23 09:15] mgrrx opened #198 "New release for ros noetic?"
There are a bunch of changes since 1.13.2. However these changes haven't been released since almost 2 years.

[2022-06-16 09:09] Jeffrey53 opened #199 ""getElem() should not see invalid handles" in kinetic"
My program exits cause I call sendGoal and print"getElem() should not see invalid handles"

[2022-06-17 08:12] Jeffrey53 commented on #199
occasionally appear

**bool RosInterface::callNavModeAction(const NavModeParameter &parameter) {
  if (nav_mode_action_ == nullptr) nav_mode_action_ = std::make_shared<NavModeAction>(*n_, "navigation_mode");

  if (!nav_mode_action_.get()->waitForServer(ros::Duration(3))) {
    if (ros_msg_callback_ != nullptr) ros_msg_callback_("action server is invalid,action:navigation_mode");
    return false;

[2022-06-17 08:14] Jeffrey53 commented on #199
occasionally appear.
Here is my code:

bool RosInterface::callNavModeAction(const NavModeParameter &parameter) {
  if (nav_mode_action_ == nullptr) nav_mode_action_ = std::make_shared<NavModeAction>(*n_, "navigation_mode");

  if (!nav_mode_action_.get()->waitForServer(ros::Duration(3))) {
    if (ros_msg_callback_ != nullptr) ros_msg_callback_("action server is invalid,action:navigation_mode");

[2022-11-15 15:53] Timple commented on #198
We encountered some issues which are already solved [years ago](https://github.com/ros/actionlib/pull/180).

Can a new release be triggered?